<!-- <header>
  <div class="container">
    <a routerLink="/" class="logo">{{ 'appTitle' }}</a>

    <div *ngIf="fbAuth.user | async as user">
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact us</a></li>
          <li><a routerLink="/profile">User Profile</a></li>
          <li><a (click)="fbAuth.signOut()">Logout</a></li>
        </ul>
      </nav>
    </div>
    <div class="profile-image" *ngIf="fbAuth.user | async as user"></div>
  </div>
</header> -->
<div>nav</div>
